@use '@angular/material' as mat;
@use '../../../theme.scss';

::ng-deep .mat-dialog-container {
  background-color: rgb(4 22 21 / 85%);
  box-shadow: 0 0 10px 5px #2e4a47;
  border-radius: 2px;
}
.dialog {
  font-family: 'Montserrat', sans-serif;
}
.dialog input {
  background-color: rgb(255 255 255 / 90%);
  outline: none;
  border: none;
  border-radius: 4px;
  height: 50px;
  font-size: 18px;
}
.dialog label {
  font-weight: 700;
  display: block;
  margin-bottom: 9px;
  color: #004d40;
}
.dialog__form-input {
  margin-bottom: 30px;
  position: relative;
}
.dialog__form-name {
  max-width: 100%;
  padding: 0 7px;
}
.dialog__wrapper {
  display: flex;
  justify-content: space-between;
}
.dialog__form-number {
  width: 50px;
  text-align: center;
  margin-left: 12px;
}
.dialog__form-submit {
  outline: none;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 10px -5px;
  background-color: mat.get-color-from-palette(theme.$primary, 900);
  height: 50px;
  display: flex;
  align-items: center;
  &:disabled {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}
.icon {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
}
.error-message {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 12px;
  color: #d90000;
}